img{
    width: 100%;

}


#timer, #stats, #resetButton {
    background-color: white;
    border: 3px solid black;
    padding: 8px 12px;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}




.info{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    justify-items: center;
    gap: 20px;
    max-width: 500px;
    margin: 20px auto;
    background-color:orangered;
    border: black solid;
    border-width:10px;
    padding: 10px;
}


.board{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    max-width: 500px;
    margin: 20px auto;
    background-color:orangered;
    border: black solid;
    border-width:10px;
    padding: 5px;
}
